	
    <hr>
	<div class="row">

		<div class="copyright span12">Copyright 2013</div>	
	</div>

</div>  <!-- End Container -->

<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% load staticfiles %}
<script src="{% static "js/jquery-1.9.1.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/tinynav.js" %}"></script>
<script src="{% static "js/template.js" %}"></script>
</body>
</html>