	
	<hr>

	<div class="row triple-row">
		<div id="triple-first" class="span4 triple">
		    <div class="zone zone-triple-first">
				<article class="widget-triple-first widget-html-widget widget">
		    		<header>
		        		<h1>We happy?</h1>
	    			</header>
				    <p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you.</p>
				</article>
			</div>
		</div>

		<div id="triple-second" class="span4 triple">
		    <div class="zone zone-triple-second">
				<article class="widget-triple-second widget-html-widget widget">
		    		<header>
		        		<h1>Mmmm this is a tasty burger!</h1>
	    			</header>
				    <p>Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
				</article>
			</div>
		</div>

		<div id="triple-third" class="span4 triple">
		    <div class="zone zone-triple-third">
				<article class="widget-triple-third widget-html-widget widget">
		    		<header>
		        		<h1>Share &amp; Connect</h1>
	    			</header>
				    <p>
						<a href="/feeds/posts/"><i class="smicon-rss"></i></a>
						<a href="https://twitter.com/rafehatfield" target="_blank"><i class="smicon-twitter"></i></a>
						<a href="http://www.linkedin.com/in/rafehatfield" target="_blank"><i class="smicon-linkedin"></i></a>
						<a href="https://github.com/RafeHatfield" target="_blank"><i class="smicon-github"></i></a>
						<a href="http://www.flickr.com/photos/rafest" target="_blank"><i class="smicon-flickr"></i></a>
						<a href="https://www.facebook.com/rafe.hatfield" target="_blank"><i class="smicon-facebook"></i></a>
				    </p>
				</article>
			</div>
		</div>
	</div>
	
    <hr>
	<div class="row">

		<div class="copyright span12">Copyuptight 2013.  Umm because this space looked lost without something.</div>	
	</div>

</div>  <!-- End Container -->

<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% load staticfiles %}
<script src="{% static "js/jquery-1.9.1.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/tinynav.js" %}"></script>
<script src="{% static "js/template.js" %}"></script>
</body>
</html>