{% include 'header.html' %}

    {% load comments %}
    
    <div class="row main-content">
        <div class="offset1 span6 zone-content">
            {% if posts %}
            <ul class="blog-posts">

                {% for post in posts %}
                <li class="first">
                    <article class="blog-post">
                        <div class="published">{{ post.pub_date }}</div>     
                        <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                        <p>{{ post.text }}&nbsp;… <a href="{{ post.get_absolute_url }}">more</a></p>
                        <p>{% get_comment_count for post as comment_count %}
                        <h3>Comments: {{ comment_count }}</h3></p>
                        <p class="tags">
                            <span>Tags:</span>
                                <a href="#">Lorem</a>, <a href="#">Ipsum</a>, <a href="#">Linux</a>, <a href="#">Mac</a>, <a href="#">Wordpress</a>, <a href="#">Joomla</a>
                        </p>
                    </article>
                </li>
                {% endfor %}

            </ul>

            <div class="blog-pagination">

                {% if page.has_previous %}
                <div class="newer">
                    <a href="/{{ page.previous_page_number }}/">« Newer posts</a>
                </div> 
                {% endif %}

                {% if page.has_next %}
                <div class="older">
                    <a href="/{{ page.next_page_number }}/">Older posts »</a>
                </div>  
                {% endif %}

            </div>

            {% else %}
            <p>No posts matched</p>
            {% endif %}

        </div>


    </div>

{% include 'footer.html' %}